html, body {
    font-family: "Oswald",sans-serif;
    font-style: normal;
	width: 100%; height: 100%;
}

/* styles */

h4 {
    font-weight: 400;
    font-size: 1.5em;
}

	.mainNav__text {
		padding-top: 6px;
	}

/* structure */

header {
	position: fixed;
	display: block;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	background: #444444;
	z-index: -100;
}

.mainNav {
	width: 100%;
	background: steelblue;
	position: relative; top: calc(100% - 50px);
}

	/* for fixing nav on top of screen */
	.onTop {
		position: fixed; 
		top: 0; 
		z-index: 1000;
		box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	}

	ul {
			width: 100%; height: 50px;
		}

			li {
				display: block; float: left;
				width: 16.6%; height: 100%;
			}

				.mainNav__link {
					display: block;
					width: 80%; height: 100%;
					text-align: center;
					margin: 0 auto;
				}

				.mainNav__link:hover {background: red; color: bisque;}

.wrapper{
	 margin: 0;
	 display: block;
	 min-height: 100%;
	 width: 100%;
	 max-width: none;
	 background: gray;
	 position: relative; top: calc(100% - 50px);
}

	main {
		width: 100%;
		margin: 0; padding: 0;
		background: #f2f2f2;
	}

		.graphs {
			display: block;
			width: 100%;
			height: 500px;
		}

			.graphbox{
				width: 50%; height: 100%;
				float: left;
				background: #000;
			}

				.graphbox__3 {
					width: 100%; height: 200px;
					float: none;
					background: blue;
					
				}
			
			.graphtext {
				position: relative;
				width: 50%; height: 100%;
				float: left;
				background: #fff;
			}

				.graphtext__3 {
					width: 100%; height: auto;
					float: none;
					background: steelblue;
				}

				.graphtitle {
					display: block;
					padding: 10px 20px;
					position: absolute; top: 30px; left: 120px;
					background: red;
					text-align: center;
				}

					.graphtitle__3 {
						padding: 0;
						position: static;
					}

				.textbox {
					width: 50%;
					padding: 50px;
					margin: 50px auto;
					background: lightgray;					
				}

					.textbox__3 {
						padding: 0; margin: 20px auto 0 auto;
						width: 
					}

	footer {
		width: 100%; height: 300px;
		margin: 0; padding: 0;
		background: red;
	}

		.pplbbl_group {
			display: inline-block;
			position: relative; left: 50%;
			margin-top: 50px;
			transform: translateX(-50%);
		}

		.pplbbl {
			display: inline-block;
			position: relative;
			width: 150px; height: 150px;
			margin-right: 50px;
			border-radius: 50%;
			overflow: hidden;
		}
			.pplbbl:last-child {margin-right: 0;}

			.pplbbl__img, .pplbbl__link {
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.pplbbl__link {
				opacity: 0;
				background: rgba(0,0,0,.5);
				text-align: center;
				padding-top: 35px;
				color: #fff;
			}

			.pplbbl__link:hover {
				opacity: 1;
			}

	