html, body {
    font-family: "Oswald",sans-serif;
    font-style: normal;
	width: 100%; height: 100%;
}

/* styles */

h1 {
    font-weight: 700;
    font-size: 5.063;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(255,255,255, 0.7);
}

h2 {
    font-weight: 400;
    font-size: 3.375em;
}

h3 {
    font-weight: 400;
    font-size: 2.25em;
}

h4 {
    font-weight: 300;
    font-size: 1.3em;
}

p {
    font-weight: 300;
    font-size: 1em;
    line-height: 26px;
	margin-bottom: 35px;
}

	.mainNav__text {
		padding-top: 8px;
		text-align: center;
	}

		.mainNav__text--title {font-size: 1em; font-weight: 300; padding-top: 13px;}

/* structure */

header {
	position: fixed;
	display: block;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	background-image: url(../img/fondtitre-compressor.png);
	/*background: #444444;*/
	background-size: 100%;
	z-index: -100;
}

.mainNav {
	width: 100%;
	background: #6D6D6D;
	position: relative; top: calc(100% - 50px);
}

	/* for fixing nav on top of screen */
	.onTop {
		position: fixed; 
		top: 0; 
		z-index: 1000;
		box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	}

	.kedis {width: 100%; height: 50px;}
	.hidden {visibility: hidden !important; height: 0 !important;}

	ul {
			width: 100%; height: 50px;
		}

			

			li {
				display: block; float: left;
				width: 16.66666666%; height: 100%;
			}

				.mainNav__link {
					display: block;
					width: 100%; height: 100%;
					text-align: center;
					margin: 0 auto;
					color: #fffffe;
				}

				.mainNav__link:hover {background: #fffffe; color: #6D6D6D !important;}

.wrapper{
	 margin: 0;
	 display: block;
	 min-height: 100%;
	 width: 100%;
	 max-width: none;
	 background: gray;
	 position: relative; top: calc(100% - 50px);
}

	main {
		width: 100%;
		margin: 0; padding: 0;
		background: #333333;
	}

		.graphs {
			display: block;
			width: 100%;
			height: 500px;
		}

			.graphbox{
				width: 50%; height: 100%;
				float: left;
				background: #000;
			}

				.graphbox__3 {
					width: 100%; height: 200px;
					float: none;
					background: blue;
					
				}
			
			.graphtext {
				position: relative;
				width: 50%; height: 100%;
				float: left;
				background: #fff;
			}

				.graphtext__3 {
					width: 100%; height: auto;
					float: none;
					background: steelblue;
				}

				.graphtitle {
					display: block;
					padding: 10px 20px;
					position: absolute; top: 130px; left: 120px;
					background: red;
					text-align: center;
				}

					.graphtitle__3 {
						padding: 0;
						position: static;
					}

				.textbox {
					width: 50%;
					padding: 50px;
					margin: 150px auto;
					background: lightgray;					
				}

					.textbox__3 {
						padding: 0; margin: 20px auto 0 auto;
						width: 
					}

	footer {
		width: 100%;
		margin: 0; padding: 0;
		background: #af1917;
	}

		.label {
			margin: 0 auto; padding-top: 25px;
			text-align: center;
		}
			.label:last-child {padding-bottom: 25px;}

		.pplbbl_group {
			display: inline-block;
			position: relative; left: 50%;
			margin-top: 25px;
			transform: translateX(-50%);
		}

		.pplbbl {
			display: inline-block;
			position: relative;
			width: 150px; height: 150px;
			margin-right: 50px;
			border-radius: 50%;
			overflow: hidden;
		}
			.pplbbl:last-child {margin-right: 0;}

			.pplbbl__img, .pplbbl__link {
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.pplbbl__link {
				opacity: 0;
				background: rgba(0,0,0,.5);
				text-align: center;
				padding-top: 65px;
				color: #fff;
			}

			.pplbbl__link:hover {
				opacity: 1;
			}

/* TITLE */

.title {
    font-family: "Oswald",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5.063em;
    color: #fffffe;
    margin: 0 auto;
    text-align: center;
    position: relative; top: 40%; left: 50%; 
	transform: translateX(-50%);
}

.title__word--guerre {
	color: red;
}